main {
    background-color: #292b2cec;
}

h1 {
    padding-bottom: 2.2rem;
    padding-top: 5rem;
    color: #fff;
    font-size: 3.3rem;
    text-align: center;
}

p {
    color: #ffffffbb;
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 2.5rem;
}


